# Introduction to Scikit-learn (sklearn)

This notebook demonstrates some of the most useful function of the scikit-learn

What we are going to cover

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the the right estimator/algorithm for our poblems
3. Fit the model/algorithm and use it to make prediction on pur data
4. Evaluating a model
5. Improve model
6. Save and load a trained model
7. Putting all together

## 0. An end-to-end Scikit-Learn workflow

In [18]:
# 1 Get the data ready
import pandas as pd
import numpy as np

heartDisease = pd.read_csv("../Matplotib/heart-disease.csv")
heartDisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# Create X (features matrix)
X = heartDisease.drop('target', axis=1)

# Create Y (labels)
Y = heartDisease["target"]

In [32]:
# 2. Choose the the right model and hyperparametors
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We will keep the defoult hyperparametors
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [20]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [21]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3

In [48]:
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1])

In [49]:
Y_test

107    1
279    0
290    0
80     1
285    0
      ..
8      1
32     1
214    0
30     1
10     1
Name: target, Length: 61, dtype: int64

In [50]:
clf.fit(X_train, Y_train);

In [51]:
# 4. Evalute the model on the training data and test data
clf.score(X_train, Y_train)

1.0

In [53]:
clf.score(X_test, Y_test)

0.8524590163934426

In [54]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.76      0.88      0.81        25
           1       0.91      0.81      0.85        36

    accuracy                           0.84        61
   macro avg       0.83      0.84      0.83        61
weighted avg       0.85      0.84      0.84        61

In [55]:
confusion_matrix(Y_test, y_preds)

array([[22,  3],
       [ 7, 29]])

In [56]:
accuracy_score(Y_test, y_preds)

0.8360655737704918

In [59]:
# 5. Impove a model
# Try diffrent amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, Y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 78.69%

Trying model with 20 estimators...
Model accuracy on test set: 86.89%

Trying model with 30 estimators...
Model accuracy on test set: 85.25%

Trying model with 40 estimators...
Model accuracy on test set: 88.52%

Trying model with 50 estimators...
Model accuracy on test set: 86.89%

Trying model with 60 estimators...
Model accuracy on test set: 85.25%

Trying model with 70 estimators...
Model accuracy on test set: 80.33%

Trying model with 80 estimators...
Model accuracy on test set: 86.89%

Trying model with 90 estimators...
Model accuracy on test set: 83.61%

In [60]:
#6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [61]:
loadedModel = pickle.load(open("random_forest_model_1.pkl", "rb"))
loadedModel.score(X_test, Y_test)

0.8360655737704918

In [63]:
import sklearn
sklearn.show_versions()

System:
    python: 3.9.13 (main, Aug 25 2022, 18:29:29)  [Clang 12.0.0 ]
executable: /Users/musa/opt/anaconda3/bin/python
   machine: macOS-10.16-x86_64-i386-64bit

Python dependencies:
          pip: 22.2.2
   setuptools: 63.4.1
      sklearn: 1.0.2
        numpy: 1.21.5
        scipy: 1.9.1
       Cython: 0.29.32
       pandas: 1.4.4
   matplotlib: 3.5.2
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

/Users/musa/opt/anaconda3/lib/python3.9/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

## 1. Getting our data ready to be used with machine learning
 ### Three main things we have to do:
   * 1. Split the data into features and lables (usually `X` and `Y`)
   * 2. Filling (also called imputing) or disregarding missing values
   * 3. Converting non-numerical values to numerical values (also called feature encoding)

In [65]:
heartDisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [70]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [71]:
X.shape[0] * 0.8

242.4