In [5]:
import pandas as pd

In [6]:
# 2 main datatypes
series = pd.Series(['BMW', 'Toyota', 'Honda'])

In [7]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
# series = 1-dimensional
color = pd.Series(["Red","blue","white"])
color

0      Red
1     blue
2    white
dtype: object

In [10]:
car_data = pd.DataFrame({"Car make" : series, "Color": color})
car_data

  Car make  Color
0      BMW    Red
1   Toyota   blue
2    Honda  white

In [16]:
# import data
car_sales = pd.read_csv("car-sales.csv")

In [13]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [18]:
car_sales.to_csv("exported-car-sales.csv", index=False)

## Describe data

In [20]:
cars.sales

NameError: name 'cars' is not defined

In [21]:
# Atrtribute
car_sales.dtypes

# Function
#

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object